<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      New Import
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <%= render 'form' %>
    </div>
  </div>
</div>

